node_modules/
bun.lockb
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env.*
!.env.example

dist/
build/
out/
.tmp/
.cache/
coverage/
logs/
*.log
.DS_Store

.vscode/
*.iml
.eslintcache

*.swp
*.swo
*.bak
*.orig
Thumbs.db

.idea/*

!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
!.idea/dictionaries/
!.idea/dictionaries/project.xml

.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/